.heading{
    width: 100%;
    
    
}
#start{
    font-size: 25px;
}

.heading h3{
    display: inline;
    font-size: 30px;
   
}

.heading button{
    float: right;
    font-size: 20px;
}

#status{
    font-size: 25px;
}

